{% extends 'accounts/user_profile.html' %}

{% block user_content %}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'accounts:profile' username=this_user.username %}">发帖</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:fans' username=this_user.username %}">他的粉丝</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'accounts:following' username=this_user.username %}">他的关注</a>
            </li>

            {% if this_user.id == user.id %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:update_profile' username=user.username %}">个人资料</a>
            </li>

            {% endif %}
        </ul>
    </div>
    <div class="card-body">

        {% for fan in this_user.friends.all %}



        <div class="card mb-3 m-3">
            <div class="row no-gutters">
                <div class="col-md-4">


                    <a href="{% url 'accounts:profile' username=fan.username %}">
                        <img src="{{ fan.head_img.url }}" class="card-img" alt="...">

                    </a>


                </div>
                <div class="col-md-8">
                    <div class="card-body">


                        <a href="{% url 'accounts:profile' username=fan.username %}">
                            <h5 class="card-title">{{ fan.username }}</h5>

                        </a>


                        <p class="card-text">{{ fan.signature }}</p>
                        {% comment %} <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        {% endcomment %}
                    </div>
                </div>
            </div>
        </div>




        {% endfor %}


    </div>


</div>

{% endblock user_content %}