{% extends 'accounts/user_base.html' %}

{% load static %}

{% block pre_user %}


<div class="panel panel-default">

    <div class="panel-body user-panel">

        <div class="panel-user-info">

            {% comment %} user avatar {% endcomment %}
            <div class="avatar-name">
                <a href="{% url 'accounts:profile' username=this_user.username %}">
                    <img class="panel-avatar user-avatar rounded-circle" src="{{ this_user.head_img.url }}" alt="" />
                </a>
                <span class="panel-username"><a
                        href="{% url 'accounts:profile' username=this_user.username %}">{{ this_user.username }}</a></span>

                {% if this_user.username != user.username %}

                {% if this_user not in my_friends %}
                <a href="{% url 'accounts:follows_him' pk=this_user.id %}">
                    <button type="button" class="btn btn-dark">关注</button>
                </a>


                {% else %}
                <a href="{% url 'accounts:unfollows_him'  pk=this_user.id %}">
                    <button type="button" class="btn btn-success">取消关注</button>

                </a>

                {% endif %}

                {% else %}



                {% endif %}



            </div>

            {% comment %} other user information {% endcomment %}
            <div class="row panel-user-meta">


                <div class="col-xs-3 panel-user-meta-item">
                    {% comment %} <a href="{% url 'user:infoprofile'  username1=request.user.username %}">
                        {% endcomment %}
                        <div class="text-center">
                            <p class="panel-user-meta-item-value">
                                {{  this_user.posts.count }}
                                {% comment %} {% each_people_num  request.user.username %}
                                {% endcomment %}
                            </p>
                            <p class="panel-user-meta-item-title">发表帖子数</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 panel-user-meta-item">
                    {% comment %} <a href="{% url  'user:inforeply'  username1=request.user.username %}">
                        {% endcomment %}
                        <div class="text-center">
                            <p class="panel-user-meta-item-value">
                                {{ this_user.comments.count }}
                                {% comment %} {% each_reply_num  request.user.username %}
                                {% endcomment %}
                            </p>
                            <p class="panel-user-meta-item-title">回复</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 panel-user-meta-item">
                    <a href="{% url 'accounts:fans' username=this_user.username %}">
                        <div class="text-center">
                            <p class="panel-user-meta-item-value"><strong>{{ this_user.followed_by.count }}</strong>
                            </p>
                            <p class="panel-user-meta-item-title"><strong>他的粉丝</strong></p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 panel-user-meta-item">
                    <a href="{% url 'accounts:following' username=this_user.username %}">
                        <div class="text-center">
                            <p class="panel-user-meta-item-value"><strong>{{ this_user.friends.count }}</strong>
                            </p>
                            <p class="panel-user-meta-item-title"><strong>他的关注</strong></p>
                        </div>
                    </a>
                </div>



            </div>

        </div>

    </div>


    <ul class="list-group">

    </ul>

</div>

{% endblock pre_user %}

{% block user_content %}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'accounts:profile' username=this_user.username %}">发帖和回帖</a>
            </li>



            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:fans' username=this_user.username %}">他的粉丝</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:following' username=this_user.username %}">他的关注</a>
            </li>
            {% if this_user.id == user.id %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:update_profile' username=user.username %}">个人资料</a>
            </li>

            {% endif %}

            {% if this_user.id == user.id %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:edit_profile' username=user.username %}">个人资料</a>
            </li>

            {% endif %}

        </ul>
    </div>
    <div class="card-body">

        {% for post in posts %}

        <div class="card text-white bg-info mb-3 m-3">
            <div class="card-header pull-left">{{  post.title }}</div>
            <div class="card-body">
                {% comment %} <h5 class="card-title">Dark card title</h5> {% endcomment %}



                <p class="card-text pull-left">{{ post.message }}</p>

                {% if post.user.username == user.username %}

                <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple pull-right">
                    <span class="fa fa-remove text-white" aria-hidden="true"></span>
                    <span class="text-white icon-label">删除</span>
                </a>

                {% endif %}

            </div>
        </div>


    {% endfor %}


    {% for comment in comments %}



    <div class="card bg-light mb-3" ">
<div class=" card-body">
        <h5 class="card-title pull-left">{{  comment.content }}</h5>
        <p class="card-text">{{ comment.date }}</p>
    </div>
</div>


{% endfor %}


</div>


</div>










{% endblock user_content %}