{% extends 'accounts/user_base.html' %}

{% load static %}

{% block user_content %}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">发帖</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="card-body">

       {% for post in posts %}
            <div class="card">
  <h3 class="card-header">{{  post.create_at }}</h3>
  <div class="card-body">
    <h5 class="card-title">{{  post.title }}</h5>
    <p class="card-text"> {{ post.message }} </p>
    				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-simple">
					<span class="fa fa-remove text-danger" aria-hidden="true"></span>
					<span class="text-danger icon-label">删除</span>
				</a>
  </div>
</div>

    {% for comment in comments %}

               <div class="card">
  <h3 class="card-header">{{  comment.date }}</h3>
  <div class="card-body">
    {% comment %} <h5 class="card-title">{{  comment.title }}</h5> {% endcomment %}
    <p class="card-text"> {{ comment.content}} </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    
    
    {% endfor %}
        
        {% endfor %} 


    </div>

    
</div>










{% endblock user_content %}